.page-about {
  padding: 80px 0;
  /* background-color: #fff; */
  background-color: rgba(104, 102, 102, 0.8) !important;
}

.page-about .wrap-img {
  position: relative;
  width: 350px;
  height: 354.5px;
  overflow: unset;
}

.page-about .wrap-img::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -25px;
  width: 100%;
  height: 100%;
  border: 5px solid var(--theme-red);
  z-index: 1;
}
.page-about .wrap-img img {
  position: relative;
  z-index: 2;
}
.page-about .wrap-content h1 {
  font-weight: 300;
  color: black;
}
.page-about .wrap-content .position {
  color: var(--theme-red);
}
.page-about .theme-list {
  position: relative;
  padding-left: 20px;
  list-style: none;
  z-index: 10;
}
.page-about .theme-list::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  margin: auto;
  width: 1px;
  height: 85%;
  background-color: #cacdd6;
  z-index: -1;
}

.page-about .theme-list li {
  position: relative;
}
.page-about .theme-list li::before {
  content: "";
  position: absolute;
  left: -21px;
  margin: 6px 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid var(--theme-red);
}
@media (max-width: 768px) {
  .page-about .wrap-img {
    width: 250px;
    height: 253.5px;
  }
}
